<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-capitalize">incidencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section>
    <ion-card>
      <ion-card-content text-center style="background-color: rgb(170, 201, 219); color:#0e0c0c;">
        <ion-textarea placeholder="Describa su incidencia..."></ion-textarea>
        
      </ion-card-content>
    </ion-card>
    <ion-button expand="block">Enviar incidencia<ion-icon name="paper-plane"></ion-icon></ion-button>
  </section>

  <section>
    <ion-card>
      <ion-card-content text-center style="background-color: rgb(224, 70, 23); color:#0e0c0c;">
        <ion-button expand="block">Llamar a tu supervisor<ion-icon name="call"></ion-icon></ion-button>
        
      </ion-card-content>
    </ion-card>
  </section>

  <section>
    <ion-card>
      <ion-card-content text-center style="background-color: rgb(224, 70, 23); color:#0e0c0c;">
        <ion-button expand="block">Pánico<ion-icon name="radio"></ion-icon></ion-button>
        
      </ion-card-content>
    </ion-card>
   
  </section>

</ion-content>
