<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-capitalize">resultados</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <section>
    <ion-card>
      <ion-card-content text-center style="background-color: rgb(170, 201, 219); color:#0e0c0c;">
        
        <ion-row>
          <ion-col>
            <ion-label>PRI</ion-label>
          </ion-col>
        </ion-row>

        <ion-item>
          <ion-label color="primary">ALCALDIA:</ion-label>
          <ion-input placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO FEDERAL:</ion-label>
          <ion-input placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO LOCAL:</ion-label>
          <ion-input placeholder="total de votos"></ion-input>
        </ion-item>
        
      </ion-card-content>
    </ion-card>
  </section>

  <section>
    <ion-card>
      <ion-card-content text-center style="background-color: rgb(170, 201, 219); color:#0e0c0c;">
        
        <ion-row>
          <ion-col>
            <ion-label>PAN</ion-label>
          </ion-col>
        </ion-row>

        <ion-item>
          <ion-label color="primary">ALCALDIA:</ion-label>
          <ion-input placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO FEDERAL:</ion-label>
          <ion-input placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO LOCAL:</ion-label>
          <ion-input placeholder="total de votos"></ion-input>
        </ion-item>
        
      </ion-card-content>
    </ion-card>
  </section>

  <section>
    <ion-card>
      <ion-card-content text-center style="background-color: rgb(170, 201, 219); color:#0e0c0c;">
        
        <ion-row>
          <ion-col>
            <ion-label>MORENA</ion-label>
          </ion-col>
        </ion-row>

        <ion-item>
          <ion-label color="primary">ALCALDIA:</ion-label>
          <ion-input placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO FEDERAL:</ion-label>
          <ion-input placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO LOCAL:</ion-label>
          <ion-input placeholder="total de votos"></ion-input>
        </ion-item>
        
      </ion-card-content>
    </ion-card>
  </section>

  <section>
    <ion-card>
      <ion-card-content text-center style="background-color: rgb(170, 201, 219); color:#0e0c0c;">
        
        <ion-row>
          <ion-col>
            <ion-label>MOVIMIENTO CIUDADANO</ion-label>
          </ion-col>
        </ion-row>

        <ion-item>
          <ion-label color="primary">ALCALDIA:</ion-label>
          <ion-input placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO FEDERAL:</ion-label>
          <ion-input placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO LOCAL:</ion-label>
          <ion-input placeholder="total de votos"></ion-input>
        </ion-item>
        
      </ion-card-content>
    </ion-card>
  </section>

  <section>
    <ion-card>
      <ion-card-content text-center style="background-color: rgb(170, 201, 219); color:#0e0c0c;">
        
        <ion-row>
          <ion-col>
            <ion-label>PT</ion-label>
          </ion-col>
        </ion-row>

        <ion-item>
          <ion-label color="primary">ALCALDIA:</ion-label>
          <ion-input placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO FEDERAL:</ion-label>
          <ion-input placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO LOCAL:</ion-label>
          <ion-input placeholder="total de votos"></ion-input>
        </ion-item>
        
      </ion-card-content>
    </ion-card>
  </section>




</ion-content>
