<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-capitalize">resultados</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="enviarResultados()">
        <ion-label>Enviar</ion-label>
        <ion-icon slot="end" name="paper-plane"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content>
  
<!-- <form [formGroup]="form"  (ngSubmit)="enviarResultados()">
  <section>
    <ion-card>
      <ion-card-content text-center style="background-color: rgb(170, 201, 219); color:#0e0c0c;">
        
        <ion-row>
          <ion-col>
            <ion-label>PARTIDO ACCIÓN NACIONAL (PAN)</ion-label>
          </ion-col>
        </ion-row>

        <ion-item>
          <ion-label color="primary">ALCALDÍA:</ion-label>
          <ion-input formControlName='pm_pan' placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO FEDERAL:</ion-label>
          <ion-input formControlName='df_pan' placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO LOCAL:</ion-label>
          <ion-input formControlName='dl_pan'  placeholder="total de votos"></ion-input>
        </ion-item>
        
      </ion-card-content>
    </ion-card>
  </section>
</form> -->
  
<section>
  <ion-card>
    <ion-card-content text-center style="background-color: rgb(170, 201, 219); color:#0e0c0c;">
      
      <ion-row>
        <ion-col>
          <ion-label>PARTIDO ACCIÓN NACIONAL (PAN)</ion-label>
        </ion-col>
      </ion-row>

      <ion-item>
        <ion-label color="primary">ALCALDÍA:</ion-label>
        <ion-input type="number" [(ngModel)]=fromResultados.pm_pan placeholder="total de votos"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary">DISTRITO FEDERAL:</ion-label>
        <ion-input type="number" [(ngModel)]=fromResultados.df_pan placeholder="total de votos"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary">DISTRITO LOCAL:</ion-label>
        <ion-input type="number" [(ngModel)]=fromResultados.dl_pan placeholder="total de votos"></ion-input>
      </ion-item>
      
    </ion-card-content>
  </ion-card>
</section>

  <section>
    <ion-card>
      <ion-card-content text-center style="background-color: rgb(170, 201, 219); color:#0e0c0c;">
        
        <ion-row>
          <ion-col>
            <ion-label>PARTIDO REVOLUCIONARIO INSTITUCIONAL (PRI)</ion-label>
          </ion-col>
        </ion-row>

        <ion-item>
          <ion-label color="primary">ALCALDÍA:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.pm_pri placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO FEDERAL:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.df_pri placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO LOCAL:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.dl_pri placeholder="total de votos"></ion-input>
        </ion-item>
        
      </ion-card-content>
    </ion-card>
  </section>

  <section>
    <ion-card>
      <ion-card-content text-center style="background-color: rgb(170, 201, 219); color:#0e0c0c;">
        
        <ion-row>
          <ion-col>
            <ion-label>PARTIDO DE LA REVOLUCIÓN DEMOCRATICA (PRD)</ion-label>
          </ion-col>
        </ion-row>

        <ion-item>
          <ion-label color="primary">ALCALDÍA:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.pm_prd placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO FEDERAL:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.df_prd placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO LOCAL:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.dl_prd placeholder="total de votos"></ion-input>
        </ion-item>
        
      </ion-card-content>
    </ion-card>
  </section>


  <section>
    <ion-card>
      <ion-card-content text-center style="background-color: rgb(170, 201, 219); color:#0e0c0c;">
        
        <ion-row>
          <ion-col>
            <ion-label>PARTIDO VERDE ECOLOGISTA DE MEXICO (VERDE)</ion-label>
          </ion-col>
        </ion-row>

        <ion-item>
          <ion-label color="primary">ALCALDÍA:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.pm_verde placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO FEDERAL:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.df_verde placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO LOCAL:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.dl_verde placeholder="total de votos"></ion-input>
        </ion-item>
        
      </ion-card-content>
    </ion-card>
  </section>

  <section>
    <ion-card>
      <ion-card-content text-center style="background-color: rgb(170, 201, 219); color:#0e0c0c;">
        
        <ion-row>
          <ion-col>
            <ion-label>PARTIDO DEL TRABAJO (PT)</ion-label>
          </ion-col>
        </ion-row>

        <ion-item>
          <ion-label color="primary">ALCALDÍA:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.pm_pt placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO FEDERAL:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.df_pt placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO LOCAL:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.dl_pt placeholder="total de votos"></ion-input>
        </ion-item>
        
      </ion-card-content>
    </ion-card>
  </section>

  <section>
    <ion-card>
      <ion-card-content text-center style="background-color: rgb(170, 201, 219); color:#0e0c0c;">
        
        <ion-row>
          <ion-col>
            <ion-label>MOVIMIENTO CIUDADANO</ion-label>
          </ion-col>
        </ion-row>

        <ion-item>
          <ion-label color="primary">ALCALDÍA:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.pm_mc placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO FEDERAL:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.df_mc placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO LOCAL:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.dl_mc placeholder="total de votos"></ion-input>
        </ion-item>
        
      </ion-card-content>
    </ion-card>
  </section>

  <section>
    <ion-card>
      <ion-card-content text-center style="background-color: rgb(170, 201, 219); color:#0e0c0c;">
        
        <ion-row>
          <ion-col>
            <ion-label>MORENA</ion-label>
          </ion-col>
        </ion-row>

        <ion-item>
          <ion-label color="primary">ALCALDÍA:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.pm_morena placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO FEDERAL:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.df_morena placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO LOCAL:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.dl_morena placeholder="total de votos"></ion-input>
        </ion-item>
        
      </ion-card-content>
    </ion-card>
  </section>

  <section>
    <ion-card>
      <ion-card-content text-center style="background-color: rgb(170, 201, 219); color:#0e0c0c;">
        
        <ion-row>
          <ion-col>
            <ion-label>NUEVA ALIANZA YUCATAN</ion-label>
          </ion-col>
        </ion-row>

        <ion-item>
          <ion-label color="primary">ALCALDÍA:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.pm_na placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO LOCAL:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.dl_na placeholder="total de votos"></ion-input>
        </ion-item>
        
      </ion-card-content>
    </ion-card>
  </section>

  <section>
    <ion-card>
      <ion-card-content text-center style="background-color: rgb(170, 201, 219); color:#0e0c0c;">
        
        <ion-row>
          <ion-col>
            <ion-label>PARTIDO ENCUENTRO SOLIDARIO (PES)</ion-label>
          </ion-col>
        </ion-row>

        <ion-item>
          <ion-label color="primary">ALCALDÍA:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.pm_pes placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO FEDERAL:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.df_pes placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO LOCAL:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.dl_pes placeholder="total de votos"></ion-input>
        </ion-item>
        
      </ion-card-content>
    </ion-card>
  </section>

  <section>
    <ion-card>
      <ion-card-content text-center style="background-color: rgb(170, 201, 219); color:#0e0c0c;">
        
        <ion-row>
          <ion-col>
            <ion-label>REDES SOCIALES PROGRESISTAS (RSP)</ion-label>
          </ion-col>
        </ion-row>

        <ion-item>
          <ion-label color="primary">ALCALDÍA:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.pm_rsp placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO FEDERAL:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.df_rsp placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO LOCAL:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.dl_rsp placeholder="total de votos"></ion-input>
        </ion-item>
        
      </ion-card-content>
    </ion-card>
  </section>

  <section>
    <ion-card>
      <ion-card-content text-center style="background-color: rgb(170, 201, 219); color:#0e0c0c;">
        
        <ion-row>
          <ion-col>
            <ion-label>FUERZA POR MÉXICO</ion-label>
          </ion-col>
        </ion-row>

        <ion-item>
          <ion-label color="primary">ALCALDÍA:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.pm_fpm placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO FEDERAL:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.df_fpm placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO LOCAL:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.dl_fpm placeholder="total de votos"></ion-input>
        </ion-item>
        
      </ion-card-content>
    </ion-card>
  </section>

  <section>
    <ion-card>
      <ion-card-content text-center style="background-color: rgb(170, 201, 219); color:#0e0c0c;">
        
        <ion-row>
          <ion-col>
            <ion-label>CANDIDATO INDEPEDIENTE/A (1)</ion-label>
          </ion-col>
        </ion-row>

        <ion-item>
          <ion-label color="primary">ALCALDÍA:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.pm_cia placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO FEDERAL:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.df_cia placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO LOCAL:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.dl_cia placeholder="total de votos"></ion-input>
        </ion-item>
        
      </ion-card-content>
    </ion-card>
  </section>

  <section>
    <ion-card>
      <ion-card-content text-center style="background-color: rgb(170, 201, 219); color:#0e0c0c;">
        
        <ion-row>
          <ion-col>
            <ion-label>CANDIDATO INDEPEDIENTE/A (2)</ion-label>
          </ion-col>
        </ion-row>

        <ion-item>
          <ion-label color="primary">ALCALDÍA:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.pm_cib placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO FEDERAL:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.df_cib placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO LOCAL:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.dl_cib placeholder="total de votos"></ion-input>
        </ion-item>
        
      </ion-card-content>
    </ion-card>
  </section>

  <section>
    <ion-card>
      <ion-card-content text-center style="background-color: rgb(170, 201, 219); color:#0e0c0c;">
        
        <ion-row>
          <ion-col>
            <ion-label>CANDIDATO NO REGISTRADO/B</ion-label>
          </ion-col>
        </ion-row>

        <ion-item>
          <ion-label color="primary">ALCALDÍA:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.pm_nulos placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO FEDERAL:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.df_nulos placeholder="total de votos"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary">DISTRITO LOCAL:</ion-label>
          <ion-input type="number" [(ngModel)]=fromResultados.dl_nulos placeholder="total de votos"></ion-input>
        </ion-item>
        
      </ion-card-content>
    </ion-card>
  </section>

</ion-content>
