<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-capitalize">votantes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngFor="let persona of personasVoto">
      <ion-item>
        <ion-label>
          <p>{{persona.nombre_completo}}</p>
          <h2 *ngIf="persona.status != false">
            Enviado
          </h2>
          <h2 *ngIf="persona.status != true">
            No enviado
          </h2>
          
        </ion-label>
      </ion-item>
  </ion-list>

</ion-content>
