<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-capitalize">casilla</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <section *ngIf="status == false">
    <ion-card>
      <ion-card-content text-center style="background-color: rgb(177, 36, 26); color:#FFFFFF;">
        <strong>Casilla cerrada</strong> 
        <ion-icon name="lock-closed"></ion-icon>
      </ion-card-content>
    </ion-card>
    <ion-button (click)="openmodal()" expand="block">¿Abrir Casilla?</ion-button>
  </section>

  <section *ngIf="status == true">
    <ion-card>
      <ion-card-content text-center style="background-color: rgb(80, 146, 42); color:#FFFFFF;">
        <strong>Casilla abierta</strong>
        <ion-icon name="lock-open"></ion-icon>
      </ion-card-content>
    </ion-card>
    <ion-button (click)="closemodal()" expand="block">Cerrar Casilla?</ion-button>
  </section>


</ion-content>
