<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-capitalize">respaldo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="IniciarRespaldo()" expand="block">Iniciar Respaldo</ion-button>

  <section *ngIf="personasLN" >

    <ion-row>
      <ion-col size="12">
        <div class="progress-wrapper col-md-6">
          <div class="progress-bar" [style.width]="porcentValue + '%'">
              {{porcentValue}}%
          </div>
        </div>
      </ion-col>
      <ion-col size="12" style="text-align: center;">
        <div text-center>
          <label for="">{{personasenviadas}}/{{totalpersonasNoEnviadas}}</label>
        </div>
      </ion-col>
    </ion-row>

  </section>

  <section *ngIf="status_completadoMsj" >
    <ion-col size="12" style="text-align: center;">
      <div>
        <ion-label color="danger">Respaldo completo de personas del LN </ion-label>
      </div>
    </ion-col>
  </section>

  <section *ngIf="personasNoLN" >

    <ion-row>
      <ion-col size="12">
        <div class="progress-wrapper col-md-6">
          <div class="progress-bar" [style.width]="porcentValueNoLN + '%'">
              {{porcentValueNoLN}}%
          </div>
        </div>
      </ion-col>
      <ion-col size="12" style="text-align: center;">
        <div text-center>
          <label for="">{{personasenviadasNoLN}}/{{totalpersonasNoEnviadasNoLN}}</label>
        </div>
      </ion-col>
    </ion-row>

  </section>

  <section *ngIf="status_completadoMsjNoLN" >
    <ion-col size="12" style="text-align: center;">
      <div>
        <ion-label color="danger">Respaldo completo de personas agregadas</ion-label>
      </div>
    </ion-col>
  </section>

</ion-content>
