<ion-menu side="start" menuId="primerMenu" contentId="main">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item (click)="incidencias()">Incidencias<ion-icon name="warning" slot="end"></ion-icon></ion-item>
        <ion-item (click)="resultados()">Resultados<ion-icon name="trophy" slot="end"></ion-icon></ion-item>
        <ion-item (click)="redundancia()">Respaldo<ion-icon name="server" slot="end"></ion-icon></ion-item>
        <ion-item (click)="logout()">Cerrar sesión<ion-icon name="exit" slot="end"></ion-icon></ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>