<ion-header no-border>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-button (click)="regresar()">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
        <ion-label>Regresar</ion-label>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-label>Guardar</ion-label>
        <ion-icon slot="end" name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title class="ion-text-capitalize">
      encuesta
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <form id="fb-render"></form>
  

</ion-content>